* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: blue;
}
header, footer {
  background-color: black;
  color: white;
  padding: 25px 100px;
}
h2 {
  color: #E06445;
}
li {
  display: inline;
}
