* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: blue;
}
header, footer {
  background-color: black;
  color: white;
  padding: 25px 100px;
}
h2 {
  color: #E06445;
}
li {
  display: inline;
}
img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.aboutparagraph {
  text-align: center;
  line-height: 20px;
  width: 50vw;
  height: 5vw;
  margin: 30px auto;
}
.about{
  text-align: center;
  line-height: 48px;
  width: 100vw;
  height: 5vw;
  margin: 30px auto;
  font-size: 60px;
}
.new {
  text-align: center;
  line-height: 48px;
  width: 100vw;
  height: 5vw;
  margin: 30px auto;
  font-size: 60px;
}
.old {
  text-align: center;
  line-height: 48px;
  width: 100vw;
  height: 5vw;
  margin: 30px auto;
  font-size: 60px;
}
.newtext {
  text-align: center;
  line-height: 20px;
  width: 50vw;
  height: 5vw;
  margin: 30px auto;
}
.hometitle {
  text-align: center;
  line-height: 48px;
  width: 100vw;
  height: 5vw;
  margin: 30px auto;
  font-size: 60px;
}
.homebuttong {
  width: 50px;
  height: 40px;
  background-color: grey;
  border: ;
  border-radius: 10px;
  margin: 100px 0 0 100px;
  position: ;
}



.brick-image-old {
  float: left;

}



.building-old {
  float: right;
}

.musicfront {
  float: right;
}

.dayfront {
  float: left;
  width: 50%;
}
