body{
  bckground-color: salmon;
}

@media screen and (max-width: 1000px) {
  body {
    background-color: yellow;
  }
}
@media screen and (max-width: 750px) {
  body {
    background-color: red;
  }
